<h1> New Branch </h1>
<form action="/locations" method = "post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
Name
<input type="text" name="name"><br>
Address
<input type="text" name="street"><br>
Zip Code
<input type="text" name="zipcode"><br>
<input type="submit" value="Create Branch">
</form>
